header h1 {
	margin-left: 2%;
	font-size: 24pt;
	text-transform: uppercase;
	text-align: left;
}
nav {
	font-size: 16pt;
	width: 10%;
	clear: both;
	float: left;
	background-color: rgb(248, 238, 226);
	border-style: solid;
	border-radius: 10px;
	border-color: darkcyan;
	margin-left: 1%;
}
nav a {
	display: block;
	margin: 10% 0px;
    margin-left: 5%;
}
.container {
    margin-left: 20%;
}
.no_rec {
	text-align: center;
}
.welcome_msg {
	text-align: left;
}
.auth_text {
	margin-right: 2%;
	text-align: right;
}
.profile_box {
	font-size: 14pt;
	width: 10%;
	border-style: solid;
	border-radius: 10px;
	border-color: darkcyan;
	background: rgb(248, 238, 226);
	padding-top: 1%;
	padding-left: 1%;
	padding-right: 1%;
	margin-bottom: 5px;
	float: left;
	margin-left: 1%;
}
.paginator {
	padding-top: 40px;
	padding-bottom: 40px;
}