header h1 {
	margin-left: 2%;
	font-size: 24pt;
	text-transform: uppercase;
	text-align: left;
}
nav {
	font-size: 16pt;
	width: 180px;
	height: 100%;
	float: left;
	background-color: antiquewhite;
}
nav a {
	display: block;
	margin: 10% 0px;
    margin-left: 5%;
}
.container {
    margin-left: 20%;
}
.no_rec {
	text-align: center;
}
.welcome_msg {
	text-align: left;
}
.auth_text {
	margin-right: 2%;
	text-align: right;
}