a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none !important;
}

.header {
	background-color: rgb(206, 255, 212);
}
.logo {
	margin-left: 2%;
	font-size: 24pt;
	text-transform: uppercase;
	text-align: left;
	color: black !important;
}
.body {
	background-color: rgba(213, 255, 241, 0.822);
}
.no_rec {
	text-align: center;
}
.welcome_msg {
	text-align: left;
}
.auth_text {
	margin-right: 2%;
	text-align: right;
}
.auth_text a {
	color: cornflowerblue !important;
}
.paginator {
	padding-top: 40px;
	padding-bottom: 40px;
}
.add_rec {
	text-align: center;
}

.page {
  display:flex;
}
.container {
  flex-grow: 1;
	margin-left: 8% !important;
}
.left_bar {
  display: flex;
  flex-direction: column;
	width: 12%;
  margin-left: 1%;
}
.left_bar a {
	color: black !important;
}
.left_bar a:hover {
	color: rgb(145, 139, 139) !important;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 16pt;
	background-color: rgb(206, 255, 212);
	border-style: solid;
	border-radius: 10px;
  border-width: 4px;
	border-color: rgb(140, 182, 112);
}
.menu a {
  width: 100%;
  text-align: left;
  padding: 10px;
  border-bottom: 4px solid rgb(140, 182, 112);
}
.menu a.last {
  border-bottom: none;
}
.profile_box {
	display: flex;
	font-size: 16pt;
	background-color: rgb(206, 255, 212);
	border-style: solid;
	border-radius: 10px;
  border-width: 4px;
	border-color: rgb(140, 182, 112);
  padding: 10px;
	margin-bottom: 5px;
}
.nickname {
	width: 100%;
  height: 30px;
}

.leaflet-map {
	width: 100%;
	height: 500px;
	border-style: solid;
	border-radius: 10px;
  border-width: 4px;
	border-color: rgb(140, 182, 112);
}

.img-default {
	width: 250px;
	height: 250px;
	border-style: solid;
	border-color: rgb(140, 182, 112);
	border-width: 2px;
}
.img-small {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-style: solid;
	border-color: rgb(140, 182, 112);
	border-width: 2px;
}

/* rec_detail */
.recollection-info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: rgb(206, 255, 212);
	border-style: solid;
	border-radius: 10px;
  border-width: 4px;
	border-color: rgb(140, 182, 112);
}
.span-info {
	display: block;
	font-size: 14pt;
	margin-left: 20px;
	margin-right: 20px;
}
.info-name {
	font-size: 18pt;
}
.info-description {
	font-size: 16pt;
}
.info-date {
	font-size: 8pt;
	text-align: right;
	padding-top: 10px;
}
.detail-button {
	margin-bottom: 20px;
}