{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock title %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>
    <hr />

    <!-- Success messages -->
    {% if messages %}
      <div class="success-box" id="success-box">
        <!-- This section will display any messages connected with allauth (errors and etc.) -->
        <div class="success-messages">
          <!-- Displaying all messages -->
          {% for message in messages %}
            <span class="new-msg"><strong>Success:</strong> {{message}}</span>
          {% endfor %}
        </div>
        <button type="button" class="close-button" id="close-btn"><i class="fa fa-close"></i></button>
        <script>
          var close_btn = document.getElementById("close-btn");
          var success_box = document.getElementById("success-box");
          close_btn.onclick = function() {
            success_box.remove();
          }
        </script>
      </div>
    {% endif %}

    <div class="auth-default-text">
      <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-primary" type="submit" name="action" value="{% trans 'Set Password' %}"/>
      </form>

    </div>
{% endblock %}