{% extends "layout/basic.html" %}
{% load crispy_forms_tags %}

{% block title %}Sign in{% endblock %}

{% block content %}
  <h3>Sign in</h3>

  {% if user.is_authenticated %}
    <p>Already logged in</p>
  {% else %}
    <p class="welcome_msg">
      Welcome to Places Remember!<br>
      Places Remember is a great opportunity
      to collect all wondrous moments in your life.<br> 
      Here you can mark the places where you've been.
    </p>
    <p>
      <form method="post">
      	{% csrf_token %}
      	{{ form|crispy }}
      	<input type="hidden" name="next" value="{{ next }}">
      	<input type="submit" value="Log in" class="btn btn-primary">
      </form>
    </p>
  {% endif %}

  <p>
    <a href="{% url 'auth:begin' 'vk-oauth2' %}">Sign up with VK</a>
     | 
    <a href="{% url 'auth:begin' 'github' %}">Sign up with GitHub</a>
  </p>

{% endblock %}