{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}
{% load static %}

{% block title %}Add recollection{% endblock title %}

{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.5/leaflet.css" />
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.5/leaflet.js"></script>
    <div id="recmap" style="width: 960px; height: 500px"></div>

    <form id="rec_form" method="POST">
        <input type="hidden" name="id" id="id">
        <p>Name: <input name="name" id="name"></p>
	    <p>Description: <input name="description" id="description"></p>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

    <script type="module">
        import { getCookie } from "{% static 'placerem/get_cookie.js' %}"

        var csrftoken = getCookie('csrftoken');
        var url = 'api/recollections';
        var map = L.map('recmap').setView([46.8527, -121.7649], 13);

        var rec_id = document.getElementById('id');
        var rec_name = document.getElementById('name');
        var rec_descr = document.getElementById('description');
        var rec_form = document.getElementById('rec_form');
        var rec_geom = null;

        var marker = null;

        L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg', {
            maxZoom: 18,
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
        }).addTo(map);

        function newMarker(e){
            if (marker !== null) {
                map.removeLayer(marker);
            }
            marker = L.marker(e.latlng).addTo(map);

            var lat = e.latlng.lat,
               lng = e.latlng.lng;
            rec_geom = [parseFloat(lng), parseFloat(lat)];
            console.log(e.latlng);
        };
        map.on('click', newMarker)

        rec_form.addEventListener('submit', function(evt) {
            evt.preventDefault();
            var vid = rec_id.value;
            var new_url = url + '/';
            var new_method = 'POST';
            var new_data = {id : vid, name: rec_name.value,
                description: rec_descr.value};
            if (rec_geom !== null) {
                new_data["lng"] = rec_geom[0];
                new_data["lat"] = rec_geom[1];
            }
            $.ajax({
                method: new_method,
                url: new_url,
                dataType: "json",
                data: JSON.stringify(new_data),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    xhr.setRequestHeader('Content-Type', 'application/json'); // or will get 500 internal server error
                    console.log('new rec beforeSend');
                },
                success: function(){
                    console.log('new rec after send');
                }
            })
        })
    </script>

{% endblock %}