{% extends 'layout/basic.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
    {% if recollections %}
        <h3>Your recollections</h3>
        {% for recollection in recollections %}
            <hr>
            <h2><a href="{% url 'detail' pk=recollection.pk %}">{{ recollection.name }}</a></h2>
            <h4>{{ recollection.published }}</h4>
        {% endfor %}
    {% else %}
        <h2 class="no_rec">
            You don't have any recollections yet<br>
            <a href="{% url 'test' %}">Add new recollection</a>
        </h2>
    {% endif %}
{% endblock %}