{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}
{% load socialaccount %}

{% block title %}Profile{% endblock title %}

{% block content %}

  {% if error_messages %}
    <div class="error-box" id="error-box">
      <!-- This section will display any messages connected with allauth (errors and etc.) -->
      <div class="err-messages">
        <!-- Displaying all error and info messages -->
        {% for message in error_messages %}
          <span class="new-msg"><strong>Error:</strong> {{message}}</span>
        {% endfor %}
      </div>
      <button type="button" class="close-button" id="close-btn"><i class="fa fa-close"></i></button>
      <script>
        var close_btn = document.getElementById("close-btn");
        var error_box = document.getElementById("error-box");
        close_btn.onclick = function() {
          //error_box.style.display = "none";
          error_box.remove();
        }
      </script>
    </div>
  {% endif %}

  <h2>Your profile</h2>
  <hr />

  <!-- Main info about user -->
  <div class="profile-info-main profile-block">
    <img
      class="img-default profile-image"
      src="{{ object.photo|thumbnail_url:'default' }}"
      onerror="this.onerror=null;this.src='{% static 'placerem/images/empty.jpg' %}';" />

    <div class="profile-name-email">
      <span class="profile-info">Name: {{ object.username }}</span>
      <hr />
      <span class="profile-info">Email: {{ object.email }}</span>
    </div>
  </div>

  <h2>Additional info</h2>
  <hr />

  <!-- Some additional info about user -->
  <div class="profile-info-additional profile-block">
    <span class="profile-info">Number of recollections: {{ recollections }}</span>
    <hr />
    <span class="profile-info">Account creation date: {{ object.date_joined }}</span>
  </div>

  <h2>
    <span>Social</span>
    <span class="manage-link"><a href="{% url 'socialaccount_connections' %}">Manage</a></span>
  </h2>
  <hr />
  <!-- Info about authentication (what providers user is using) -->
  <div class="profile-info-additional profile-block">
    {% for provider_name, provider_info in allauth_accounts %}
      <div class="profile-info profile-auth">
        <span class="span-provider">{{ provider_name }}</span>
        {% if provider_info.exists %}
          <span class="span-link span-linked">Linked!</span>
        {% else %}
          <span class="span-link">
            <a href="{% provider_login_url provider_info.provider_id process="connect" method="oauth2" next=request.path %}">Link</a>
          </span>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  <button class="btn btn-primary" id="edit-prof-btn" type="button">Edit profile</button>
  <button class="btn btn-primary" id="edit-pass-btn" type="button">Change password</button>
  <script>
    var prof_btn = document.getElementById("edit-prof-btn");
    var pass_btn = document.getElementById("edit-pass-btn");

    prof_btn.onclick = function() {
      window.location.href = "{% url 'profile_edit' pk=object.pk %}";
    }
    pass_btn.onclick = function() {
      window.location.href = "{% url 'account_change_password' %}";
    }
  </script>

{% endblock %}