{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load static %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
    <h3>Edit profile</h3>
    <p>
        <form method="post" enctype="multipart/form-data">
        	{% csrf_token %}
            <p>
                <label for="{{ form.username.id_for_label }}">Username:</label>
                {{ form.username }}
                {{ form.username.errors }}
            </p>
            <p>
                <label for="{{ form.email.id_for_label }}">Email address:</label>
                {{ form.email }}
                {{ form.email.errors }}
            </p>
            <div>
                <p>Photo: </p>
                <p><img id="uploaded_image" src="{{ user.photo|thumbnail_url:'default' }}"></p>
                <p>
                    {{ form.photo }}
                    {{ form.photo.errors }}
                </p>
                <script>
                    var photo = document.getElementById("uploaded_image");
                    var photo_choose_btn = document.getElementById("id_photo");

                    photo_choose_btn.addEventListener('change', function(event) {
                        readURL(photo_choose_btn);
                        photo.height = 300;
                        photo.width = 250;
                        console.log("Changed");
                    });
                    function readURL(input) {
                        if (input.files && input.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                photo.src = e.target.result;
                            };
                            reader.readAsDataURL(input.files[0]);
                        }
                    }
                </script>
            </div>
            <input type="submit" value="Confirm changes">
        </form>
    </p>

{% endblock %}