{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}

  <h3>Your profile</h3>

  <p>Name: {{ object.username }}</p>
  <p>Email: {{ object.email }}</p>

  <p>Photo:</p>
  <p><img class="img-default" src="{{ object.photo|thumbnail_url:'default' }}" onerror="this.onerror=null;this.src='{% static 'placerem/empty.jpg' %}';"></p>

  <p>Additional info:</p>
  <p>Number of recollections: {{ recollections }}</p>
  <p>Account creation date: {{ object.date_joined }}</p>

  <button class="btn btn-primary" id="edit_prof_btn" type="button">Edit profile</button>
  <button class="btn btn-primary" id="edit_pass_btn" type="button">Change password</button>
  <script>
    var prof_btn = document.getElementById("edit_prof_btn");
    var pass_btn = document.getElementById("edit_pass_btn");

    prof_btn.onclick = function() {
      window.location.href = "{% url 'profile_edit' pk=object.pk %}";
    }
    pass_btn.onclick = function() {
      window.location.href = "{% url 'change_password' %}";
    }
  </script>

{% endblock %}