{% extends 'layout/basic.html' %}
{% load thumbnail %}
{% load static %}

{% block title %}Profile{% endblock title %}

{% block content %}

    <h3>Your profile</h3>

    <p>Name: {{ object.username }}</p>
    <p>Email: {{ object.email }}</p>

    <div>
        <p>Photo:</p>
        <p>
            <img
                id="uploaded_image"
                src=""
                alt="Image not found"
                onerror="this.onerror=null;this.src='{% static 'placerem/empty.jpg' %}';">
            {% if object.photo %}
                <script>
                    var photo = document.getElementById("uploaded_image");
                    photo.src = "{{ object.photo.url }}";
                </script>
            {% endif %}
        </p>
    </div>

    <script>
        var photo = document.getElementById("uploaded_image");
        photo.width = 250;
        photo.height = 250;
    </script>

    <p>Additional info:</p>
    <p>Number of recollections: {{ recollections }}</p>
    <p>Account creation date: {{ object.date_joined }}</p>

    <p><a href="{% url 'profile_edit' object.pk %}">Edit profile</a></p>
    <p><a href="{% url 'change_password' %}">Change password</a></p>


{% endblock %}