{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load static %}

{% block title %}Edit profile{% endblock title %}

{% block content %}
  <h3>Edit profile</h3>

  <p>
  	<form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <p>
        {{ form.username|as_crispy_field }}
      </p>
      <p>
        {{ form.email|as_crispy_field }}
      </p>

      <div>
        <p>Photo</p>
        <p><img
            class="img-default" 
            id="uploaded_image" 
            src="{{ user.photo|thumbnail_url:'default' }}" 
            onerror="this.onerror=null;this.src='{% static 'placerem/images/empty.jpg' %}';">
        </p>

        <p>
          Change photo:
          {{ form.photo }}
          {{ form.delete_photo }}
          <button class="btn btn-primary" type="button" id="button_delete_photo">Delete photo</button>
        </p>
                
        <script>
          var photo = document.getElementById("uploaded_image");
          var photo_choose_btn = document.getElementById("id_photo");
          var btn_delete = document.getElementById("button_delete_photo");
          var checkbox = document.getElementById("id_delete_photo");

          checkbox.style.display = 'none';

          photo_choose_btn.addEventListener('change', function(event) {
            readURL(photo_choose_btn);
            checkbox.checked = false;
          });
          btn_delete.addEventListener('click', function(event) {
            photo_choose_btn.value = '';
            photo.src = "";
            checkbox.checked = true;
          })
          function readURL(input) {
            if (input.files && input.files[0]) {
              var reader = new FileReader();
              reader.onload = function (e) {
                photo.src = e.target.result;
              };
              reader.readAsDataURL(input.files[0]);
            }
          }
      	</script>
      </div>

      <button class="btn btn-primary" type="submit">Confirm changes</button>
    </form>
  </p>

{% endblock %}