{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}
{% load static %}

{% block title %}Add or edit recollection{% endblock title %}

{% block content %}
  {{ additional_info|json_script:'add_info' }}
  
  <div class="leaflet-map" id="recmap"></div>

  <p>
    <form id="rec_form" method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      
    </form>
    <button id="submit_btn" type="submit" class="btn btn-primary">Confirm</button>
  </p>
    
  

  <!-- test script (need to move first 2 scripts ) -->
  {{ additional_info|json_script:'add_info' }}
  <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
  <script src="{% url 'api-docs:schema-js' %}"></script>
	<script src="{% static 'placerem/js/add-edit-bundle.js' %}"></script>

{% endblock %}