{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}

{% block title %} {{ object.name }} {% endblock title %}

{% block content %}
    <h2>Details</h2>
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.5/leaflet.css"/>
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.5/leaflet.js"></script>
    <div id="recmap" style="width: 960px; height: 500px;"></div>

    <script>
        var map = L.map('recmap').setView([0, 0], 1);
        L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg', {
            maxZoom: 18,
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
        }).addTo(map);

        var divMap = document.getElementById("recmap");
        var recollection = {{ object|geojsonfeature|safe }}

        if ("{{ object.geom }}" == "None") {
            divMap.style.display = 'none';
        } else {
            // Creating an empty layer and add our recollection
            // We'll be able to add more data later with this approach
            var geoLayer = L.geoJson().addTo(map);
            geoLayer.addData(recollection);
            // We can access our layer now and look through its layers
            geoLayer.eachLayer( function(layer) {
                if (layer instanceof L.Marker) {
                    if (geoLayer.getBounds().contains(layer.getLatLng())) {
                        layer.bindPopup("{{ object.name }}");
                        map.setView(layer.getLatLng(), 3);
                    }
                }
            });
        }
    </script>

    <p>Name: {{ object.name }}</p>
    <p>Description: {{ object.description }}</p>
    <p>Published in: {{ object.published }}</p>

    <!-- Delete button -->
    <p>
        <button type="button" id="button_edit">Edit</button>
         | 
        <button type="button" id="button_delete">Delete</button>
    </p>
    <script>
        var button_del = document.getElementById("button_delete");
        var button_edit = document.getElementById("button_edit");
        // It's better to use .href instead of .replace() to achieve proper 'back' button trigger
        button_del.onclick = function() {
            window.location.href = "{% url 'delete' pk=object.pk %}";
        };
        button_edit.onclick = function() {
            window.location.href = "{% url 'edit' pk=object.pk %}";
        }
    </script>

{% endblock %}