{% extends 'layout/basic.html' %}
{% load static %}

{% block title %} {{ object.name }} {% endblock title %}

{% block content %}
  <h2>Details</h2>
  <hr />
  <div class="leaflet-map" id="recmap"></div>

  <div class="recollection-info">
    <span class="span-info info-name">{{ object.name }}</span>
    <span class="span-info info-description">{{ object.description }}</span>
    <span class="span-info info-date">Published in: {{ object.published }}</span>
  </div>

  <button class="btn btn-primary detail-button" type="button" id="button_edit">Edit recollection</button>
  <button class="btn btn-primary detail-button" type="button" id="button_delete">Delete</button>
  
  <script>
    var button_del = document.getElementById("button_delete");
    var button_edit = document.getElementById("button_edit");
    // It's better to use .href instead of .replace() to achieve proper 'back' button trigger
    button_del.onclick = function() {
      window.location.href = "{% url 'delete' pk=object.pk %}";
    };
    button_edit.onclick = function() {
      window.location.href = "{% url 'edit' pk=object.pk %}";
    }
  </script>

  <!-- Additional info (user id, rec id) -->
  {{ additional_info|json_script:'add_info' }}
  <!-- DRF schema -->
  <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
  <script src="{% url 'api-docs:schema-js' %}"></script>
	<script src="{% static 'placerem/js/detail-bundle.js' %}"></script>

{% endblock %}