{% extends 'layout/basic.html' %}
{% load crispy_forms_tags %}
{% load geojson_tags %}
{% load static %}

{% block title %}Add or edit recollection{% endblock title %}

{% csrf_token %}

{% block content %}
    <link rel="stylesheet" href="https://d19vzq90twjlae.cloudfront.net/leaflet-0.5/leaflet.css" />
    <script src="https://d19vzq90twjlae.cloudfront.net/leaflet-0.5/leaflet.js"></script>
    <div id="recmap" style="width: 960px; height: 500px"></div>

    <form id="rec_form" method="POST">
        <input type="hidden" name="id" id="id">
        <p>Name: <input name="name" id="name"></p>
	    <p>Description: <input name="description" id="description"></p>
        <button type="submit" class="btn btn-primary">Confirm</button>
    </form>

    <script type="module">
        import { getCookie } from "{% static 'placerem/get_cookie.js' %}"

        // Configuring map
        var map = L.map('recmap').setView([0, 0], 1);
        L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.jpg', {
            maxZoom: 18,
            attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>.'
        }).addTo(map);

        var rec = {{ recollection|geojsonfeature|safe }}
        var rec_id = document.getElementById('id');
        var rec_name = document.getElementById('name');
        var rec_descr = document.getElementById('description');
        var rec_form = document.getElementById('rec_form');
        var rec_geom = null;
        var marker = null;

        rec_id.value = "{{ recollection.pk }}";
        rec_name.value = "{{ recollection.name }}";
        rec_descr.value = "{{ recollection.description }}";

        // check whether the user add or edit recollection
        if (rec !== null) {
            if (rec["features"][0]["geometry"] !== null) {
                var geoLayer = L.geoJson().addTo(map);
                geoLayer.addData(rec);
                geoLayer.eachLayer( function(layer) {
                    if (layer instanceof L.Marker) {
                        if (geoLayer.getBounds().contains(layer.getLatLng())) {
                            marker = layer;
                            rec_geom = [marker.getLatLng()["lng"], marker.getLatLng()["lat"]];
                            marker.on('click', function(e) {
                                removeMarker(map, marker);
                            });
                        }
                    }
                });
            }
        }

        function removeMarker(map, marker) {
            map.removeLayer(marker);
            rec_geom = null;
            console.log(rec_geom);
        }

        function newMarker(e){
            if (marker !== null) {
                removeMarker(map, marker);
            }
            marker = L.marker(e.latlng).addTo(map);
            marker.on('click', function(e) {
                removeMarker(map, marker);
            });
            rec_geom = [parseFloat(e.latlng.lng), parseFloat(e.latlng.lat)];
            console.log(rec_geom);
        };
        map.on('click', newMarker);

        function collectData() {
            var data = {id : rec_id.value, name: rec_name.value,
                description: rec_descr.value};
            if (rec_geom !== null) {
                data["lng"] = rec_geom[0];
                data["lat"] = rec_geom[1];
            }
            return data;
        }

        function sendDataAjax(method, url, data) {
            $.ajax({
                method: method,
                url: url,
                dataType: "json",
                data: JSON.stringify(data),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                    xhr.setRequestHeader('Content-Type', 'application/json'); // or will get 500 internal server error
                    console.log('rec beforeSend');
                },
                success: function(){
                    console.log('rec after send');
                    window.location.href = "{% url 'home' %}";  // redirects to home page
                }
            })
        }

        rec_form.addEventListener('submit', function(evt) {
            evt.preventDefault();   // or will get 403 error (csrf token stuff)
            var method = "{{ method }}";
            var url = "{% url 'rec_api' %}";
            var data = collectData();

            sendDataAjax(method, url, data);
        })
    </script>

{% endblock %}