{% load static %}

<!-- This is a test page, rendering by React -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html"; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static 'placerem/css/style.css' %}">
    <title>Place Remember | Test page</title>
  </head>

  <body class="body">
  	<header class="header">
      <p>This is a test page, rendering by React</p>
		</header>
    
    <!-- The only implementation of django just to pass data in json to front end -->
    {% block content %}
      {{ additional_info|json_script:'add_info' }}
    {% endblock content %}

		<div id="recmap" class="leaflet-map"></div>

    <button id="submit_btn" type="button">Send data</button>
		<footer class="footer">

		</footer>

		<!-- test script (need to move first 2 scripts ) -->
    <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
    <script src="{% url 'api-docs:schema-js' %}"></script>
		<script src="{% static 'placerem/js/index-bundle.js' %}"></script>
  </body>
</html>