/* General */
a, a:hover, a:active, a:visited, a:focus {
	text-decoration:none;
}

/* basic layout */
body {
	background-color: rgba(213, 255, 241, 0.822);
}
header {
	display: flex;
	justify-content: space-between;
	background-color: rgb(191, 252, 198);
	box-shadow: 0px 0px 1px 0px rgb(61 66 81 / 20%), 0px 1px 4px -1px rgb(61 66 81 / 30%);
}
footer {
	background-color:rgb(191, 252, 198);
	width: 100%;
	text-align: right;
	padding-right: 20px;
}

.logo {
	margin-left: 2%;
	font-size: 24pt;
	text-transform: uppercase;
	text-align: left;
	color: black ;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
}
.auth-text {
	margin-right: 2%;
	text-align: right;
}
.auth-text a {
	color: cornflowerblue;
}
.page {
  display: flex;
	min-height: 100vh;
}
.container {
	margin-top: 2%;
	margin-left: auto;
	margin-bottom: 2%;
}

.left-bar {
	width: 12%;
  display: flex;
  flex-direction: column;
	
	font-size: 16pt;
	background-color: rgba(255, 238, 193, 0.582);
}
.left-bar a {
	padding: 10px;

	color: rgba(0, 0, 0, 0.603);
}
.left-bar a:hover {
	background-color: rgba(224, 208, 162, 0.205);
	color: black;
}

.menu {
	width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-item {
	display: flex;
}
.profile-box {
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}
.nickname {
	display: flex;
	border-bottom: 1px solid rgba(0, 0, 0, 0.151);
	border-top: 1px solid rgba(0, 0, 0, 0.151);
}


/* home */
.paginator {
	padding-top: 40px;
}
.add-rec {
	text-align: center;
}
.no-rec {
	text-align: center;
}

/* rec_detail */
.recollection-info {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: rgb(206, 255, 212);
	border-style: solid;
	border-radius: 10px;
  border-width: 4px;
	border-color: rgb(140, 182, 112);
}
.span-info {
	display: block;
	font-size: 14pt;
	margin-left: 20px;
	margin-right: 20px;
}
.info-name {
	font-size: 18pt;
}
.info-description {
	font-size: 16pt;
}
.info-date {
	font-size: 8pt;
	text-align: right;
	padding-top: 10px;
}

/* profile */
.profile-block {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: space-evenly;
	padding: 30px 20px 30px 20px;
	margin-bottom: 20px;
	
	background-color: rgb(206, 255, 212);
	border-style: solid;
	border-radius: 10px;
  border-width: 4px;
	border-color: rgb(140, 182, 112);
}
.profile-info-main {
	margin-top: 20px;
}
.profile-info-additional {
	flex-direction: column;
	justify-content: space-evenly;
}
.profile-info {
	width: 100%;
	height: auto;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.profile-name-email {
	width: 80%;
}
.profile-image {
	width: 20%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
hr {
	width: 100%;
}

/* authentication */
.welcome-msg {
	text-align: left;
}

/* leaflet map */
.leaflet-map {
	width: 100%;
	height: 500px;
	margin-bottom: 20px;
}

/* images */
.img-default {
	width: 100px;
	height: 100px;

	border-style: solid;
	border-color: rgb(140, 182, 112);
	border-width: 2px;
}
.img-small {
	width: 30px;
	height: 30px;

	border-style: solid;
	border-color: rgb(140, 182, 112);
	border-width: 2px;
	margin-right: 10px;
}
